<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"/>
    <title>Codecoolers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="../static/assets/images/logo/favicon.ico"/>

    <link rel="stylesheet" href="../static/assets/stylesheets/main.css"/>
    <link rel="stylesheet" href="../static/assets/stylesheets/user-team.css"/>
    <link rel="stylesheet" href="../static/assets/stylesheets/students.css"/>

</head>

<body>

<header>

    {% include "classpath:/templates/mentor-header.twig" ignore missing %}

</header>


<section class="content">

    <div class="flex-students-container">

        {% for codecooler in codecoolers %}

        <div class="margins-student information-user-container">

            <div class="user-photo-container">
                <img alt="Student photo" src={{ codecooler.getPhoto }}/>
            </div>

            <div class="student-coins-container">
                <img src="../static/assets/images/student/coins-bag.png" alt="Number of Coins"/>
            </div>

            <div class="coins">
                <p>{{ balance.getBalance(codecooler) }}</p>
            </div>

            <div class="info-container">
                <p>Name:<br/>{{ codecooler.getName }}</p>
                <p>Surname:<br/>{{ codecooler.getSurname }}</p>
                <p>E-mail:<br/>{{ codecooler.getEmail }}</p>
                <p>Phone number:<br/>{{ codecooler.getPhoneNumber }}</p>
            </div>

        </div>

        {% endfor %}

    </div>

</section>

<footer>

    {% include "classpath:/templates/mentor-footer.twig" ignore missing %}

</footer>

</body>

</html>